    <%- include('partials/navbar'); -%>

    <div class="info">
        <h1>Admin dashboard</h1>
        <p class="access">Hello, <%- user.name %></p>
        <div class="admin_actions">
            <a href="/admin/product"><button class="admin_buttons">Submit a product</button></a>
            <a href="/admin/subcategory"><button class="admin_buttons">Submit a sub category</button></a>
            <a href="/admin/category"><button class="admin_buttons">Submit a category</button></a>
        </div>
    </div>
</body>

</html>