    <%- include('partials/navbar'); -%>

    <div class="info">
        <h1>About the project</h1>
        <h2 style="text-decoration: underline;">Most recently added prodcuts</h2>
    </div>
</body>
</html>