    <%- include('partials/navbar'); -%>

    <div class="info">
        <h1>Welcome to our store</h1>
        <div class="gallery">
            <% categories.forEach(category => { %>
                <img src="<%- category.image %>" onclick="javascript:window.location='/category/<%- category.name %>';">
            <% }); %>
        </div>
    </div>
</body>
</html>